@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240 40% 98%;
  --foreground: 236 37% 8%;

  --primary-50: 240 36% 90%;
  --primary-100: 240 35% 86%;
  --primary-200: 240 35% 78%;
  --primary-300: 241 36% 70%;
  --primary-400: 240 35% 62%;
  --primary-500: 241 35% 54%;
  --primary-600: 241 35% 43%;
  --primary-700: 241 35% 32%;
  --primary-800: 240 35% 21%;
  --primary-900: 240 35% 10%;
  --primary-950: 240 33% 5%;
  --primary: var(--primary-500);
  --on-primary: 240 40% 98%;

  --secondary-50: 0 0% 100%;
  --secondary-100: 0 0% 100%;
  --secondary-200: 315 40% 98%;
  --secondary-300: 303 35% 90%;
  --secondary-400: 306 35% 82%;
  --secondary-500: 305 35% 74%;
  --secondary-600: 305 35% 63%;
  --secondary-700: 306 36% 52%;
  --secondary-800: 305 36% 41%;
  --secondary-900: 304 36% 30%;
  --secondary-950: 304 35% 24%;
  --secondary: var(--secondary-500);
  --on-secondary: 236 37% 8%;

  --accent-50: 0 0% 100%;
  --accent-100: 326 33% 96%;
  --accent-200: 327 35% 88%;
  --accent-300: 328 35% 80%;
  --accent-400: 326 35% 72%;
  --accent-500: 327 35% 64%;
  --accent-600: 327 35% 53%;
  --accent-700: 328 35% 42%;
  --accent-800: 327 35% 31%;
  --accent-900: 327 35% 20%;
  --accent-950: 328 35% 15%;
  --accent: var(--accent-500);
  --on-accent: 236 37% 8%;

  --destructive-50: 0 71% 97%;
  --destructive-100: 0 73% 94%;
  --destructive-200: 0 78% 89%;
  --destructive-300: 0 74% 82%;
  --destructive-400: 0 72% 71%;
  --destructive-500: 0 67% 60%;
  --destructive-600: 0 57% 51%;
  --destructive-700: 0 58% 39%;
  --destructive-800: 0 56% 35%;
  --destructive-900: 0 50% 31%;
  --destructive-950: 0 59% 15%;
  --destructive: var(--destructive-500);
  --on-destructive: 240 40% 98%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 240 40% 2%;
    --foreground: 235 46% 95%;
  
    --primary-50: 240 35% 82%;
    --primary-100: 242 35% 78%;
    --primary-200: 242 35% 70%;
    --primary-300: 241 35% 62%;
    --primary-400: 241 35% 54%;
    --primary-500: 241 35% 46%;
    --primary-600: 241 35% 35%;
    --primary-700: 241 34% 24%;
    --primary-800: 243 35% 13%;
    --primary-900: 240 33% 2%;
    --primary-950: 0 0% 0%;
    --primary: var(--primary-500);
    --on-primary: 235 46% 95%;
  
    --secondary-50: 304 35% 62%;
    --secondary-100: 306 36% 58%;
    --secondary-200: 305 35% 50%;
    --secondary-300: 305 36% 42%;
    --secondary-400: 306 36% 34%;
    --secondary-500: 305 35% 26%;
    --secondary-600: 304 35% 15%;
    --secondary-700: 309 33% 4%;
    --secondary-800: 0 0% 0%;
    --secondary-900: 0 0% 0%;
    --secondary-950: 0 0% 0%;
    --secondary: var(--secondary-500);
    --on-secondary: 235 46% 95%;
  
    --accent-50: 328 35% 72%;
    --accent-100: 327 35% 68%;
    --accent-200: 327 35% 60%;
    --accent-300: 327 35% 52%;
    --accent-400: 327 35% 44%;
    --accent-500: 327 35% 36%;
    --accent-600: 327 34% 25%;
    --accent-700: 326 35% 14%;
    --accent-800: 330 38% 3%;
    --accent-900: 0 0% 0%;
    --accent-950: 0 0% 0%;
    --accent: var(--accent-500);
    --on-accent: 235 46% 95%;

    --destructive-50: 0 71% 97%;
    --destructive-100: 0 73% 94%;
    --destructive-200: 0 78% 89%;
    --destructive-300: 0 74% 82%;
    --destructive-400: 0 72% 71%;
    --destructive-500: 0 67% 60%;
    --destructive-600: 0 57% 51%;
    --destructive-700: 0 58% 43%;
    --destructive-800: 0 56% 35%;
    --destructive-900: 0 50% 31%;
    --destructive-950: 0 59% 15%;
    --destructive: var(--destructive-500);
    --on-destructive: 235 46% 95%;
  }
}
